.container_videoPage{
    height: calc(100vh - 3.4rem);
    overflow-y: auto;
    background-color: rgb(11, 11, 11);
    color: white;
}
.container2_videoPage{
    margin: 1.5rem 4.5rem;
    display: flex;
}
.video_display_screen_videoPage{
    width: calc(100vw - 4.5rem - 35vw);
    padding: 1rem;
}
.video_ShowVideo_VideoPage{
    padding: 0.1rem;
    height: 70vh;
    width: 100%;
    background-color: black;
    border: 1px solid rgba(37, 37, 37, 0.2);
}